/* resizable element */
/* http://www.developerdrive.com/2012/06/allowing-users-to-resize-web-page-elements-with-css3/ */
html, 
body, 
#ractive-container
  height: 100%

.resizable
  resize: both
  overflow: scroll
  padding: 5px
/* */

/* draggable elements */
/* http://threedubmedia.com/code/event/drag/demo/zindex */
.drag
  position: absolute
  top: 5px
  right: 20px
  cursor: move

$general_font_size: 18px

/* buttons */
button
  font-size: $general_font_size
  border: 1px solid black
  padding: 5px
  margin: 5px 0
  
  &:hover
    cursor: pointer

  &.green
    width: 75%
    background-color: honeydew
    &:hover
      background-color: palegreen

  &.red
    width: 24%
    background-color: lightsalmon
    &:hover
      background-color: tomato

.delete
  color: red
  font-weight: bold
  text-transform: lowercase
  &:hover
    cursor: pointer



// variables:
$left_w: 500px
$left_h: 350px
/* containers */
.img-container
  float: left
  /* initial dimension */
  width: $left_w
  height: $left_h
  /* */
  margin-right: 10px

  img
    width: 100%
    height: auto

.instrus 
  float: left
  margin-right: 10px

.measures
  /* initial dimension */
  width: 25%
  height: auto
  padding: 20px
  table
    width: 100%
    text-align: center

  table td
    border: 1px solid whitesmoke

.file-uploader
  width: 100%
  input
    width: 100%
    margin: 0
    padding: 0
    height: 25px
    font-size: inherit

// testing flex
#ractive-container
  display: -webkit-flex /* Safari */
  display: flex
  div
    -webkit-flex: 1  /* Safari 6.1+ */
    -ms-flex: 1  /* IE 10 */    
    flex: 1



