/* resizable image */
/* http://www.developerdrive.com/2012/06/allowing-users-to-resize-web-page-elements-with-css3/ */
html, 
body, 
#ractive-container
  height: 100%

.img-container
  float: left
  /* initial dimension */
  width: 500px
  height: 500px
  /* */
  resize: both
  overflow: hidden
  padding: 5px
  margin-right: 10px

img
  width: 100%
  height: auto
/* */

/* buttons */
button
  font-size: 18px
  border: 1px solid black
  padding: 5px
  margin: 5px 0
  
  &:hover
    cursor: pointer

  &.green
    background-color: honeydew
    &:hover
      background-color: palegreen

  &.red
    background-color: lightsalmon
    &:hover
      background-color: tomato

.delete
  color: red
  font-weight: bold
  text-transform: lowercase
  &:hover
    cursor: pointer


/* containers */
.measures,
.instrus 
  float: left
  margin-right: 10px

table
  width: 100%
  text-align: center

table td
  border: 1px solid whitesmoke

